body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar-brand {
  font-family: 'MissionScript', Times, serif;

}

 @font-face
{
  font-family: MissionScript;
  src: url('../font/Mission-Script.ttf'),
  url('../font/Mission-Script.eot');
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead h1 {
  font-size: 5rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 5rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.title {
  background: -webkit-linear-gradient(to right, #7303c0, #ff007b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7303c0, #ff007b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'MissionScript';
}

.btn {
  margin-left: 1rem;
}