html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar-brand {
  font-family: 'MissionScript', Times, serif;

}


 @font-face
{
  font-family: MissionScript;
  src: url('../font/Mission-Script.ttf'),
  url('../font/Mission-Script.eot');
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead h1 {
  font-size: 5rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 5rem;
  }
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#title {
  background: -webkit-linear-gradient(to right, #7303c0, #ff007b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7303c0, #ff007b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'MissionScript';
  visibility: hidden;
}

#image-input, #button {
  visibility: hidden;
}

.btn {
  margin-left: 1rem;
}

header.masthead:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), #7303c0 95%);
  width: 100%;
  height: 4em;
}

.form-group {
  margin-bottom: 0rem;
}

.below-ground {
  height: 0px;
  width: 100%;
  background: -webkit-linear-gradient(to bottom, #7303c0, #ff007b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #7303c0, #ff007b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#cardstock {
  margin: auto;
  max-width: 85%;
  width: 380px;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  display: none;
  position: relative;
  z-index: 2;
}